
body {
    min-height: auto;
    background: url('../img/Wallpaper\ pets.webp') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.Mid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pgn_inicial {
    text-decoration: none;
    margin-left: 10px;
    color: #e1770a;
}

.container {
    background-color: plum;
    padding: 15px;
    margin: 10px;
    text-align: left;
    display: none;
    border-radius: 10px;
    max-height: 200px;
    /* Define a altura máxima do contêiner */
    overflow: auto;
    /* Habilita a rolagem quando o conteúdo exceder a altura máxima */


}

.voltar{
    background: #ffb6c1bb;
    color: white;
    align-items: center;
    display: flex;
    width: 100%;
    height: 50px;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px lightgray;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.container2 {
    background-color: #fffbc5;
    padding: 15px;
    margin: 10px;
    text-align: left;
    display: none;
    border-radius: 10px;
    color: brown;

}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

#botao {
    background-color: #08b4ff;
    border: 2px solid;
    border-color: royalblue;
    font-size: 16px;
    display: flexbox;
    margin: 0px 10px;
}

#bt {
    /*botão das vacinas tomadas*/
    background-color: #08b4ff;
    border: 2px solid royalblue;
    font-size: 16px;
    display: flexbox;
    margin: 0px 10px;
}

#borda {
    border: 5px  rgb(212, 150, 159) solid;
    width: 580px;
    height: 400px;
    margin: 0px auto;
    background-color: lightpink;
    color: lightpink;
    border-radius: 15px;
}

#lista-vacinas {
    color: black;
    padding: 1%;
    margin: 1%;
    font-size: 17px;
    
}
/*Separa cada vacina na hora de exibir na tela*/
.vacina{
    margin-bottom: 3%;
    background-color: #fffbc5;
    padding: 2%;
    border: 2px solid;
    border-radius: 6px;
    border-color: #08b4ff;
    max-height: 300px;
}/*Separa cada vacina na hora de exibir na tela*/

#lista-vacinas,li
 {
    margin-top: 2.5%;
    padding: 1%;
}
#lista-vacinas {
    max-height: 220px;
    /* Define a altura máxima do contêiner */
    overflow: auto;
    /* Habilita a rolagem quando o conteúdo exceder a altura máxima */
}


/*Para as vacinas tomadas do container 2*/
#lista-tomadas {
    color: black;
    padding: 1%;
    margin: 1%;
    font-size: 17px;
}
.tomada{
    /*Separa cada vacina na hora de exibir na tela*/
    margin-bottom: 3%;
    background-color: #fffbc5;
    padding: 2%;
    border: 2px solid;
    border-radius: 6px;
    border-color: #08b4ff;
}/*Separa cada vacina na hora de exibir na tela*/
#lista-tomadas {
    max-height: 220px;
    /* Define a altura máxima do contêiner */
    overflow: auto;
    /* Habilita a rolagem quando o conteúdo exceder a altura máxima */
}

#lista-tomadas,
li {
    margin-top: 2.5%;
    padding: 1%;
   
}


li {
    list-style-type: none;
}
/*TESTE COM BOTÃO DE PATINHA*/
.btn-img {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .btn-img img{
    max-width: 20%;
    max-height: 20%;
    float: right;
  }
  .btn-img img {
    transition: transform 0.3s ease-in-out;
  }
  
  .btn-img:hover img {
    transform: scale(0.9);
  }
  
  .btn-img:active img {
    transform: scale(1.5);
  }
  
  /*TESTE COM BOTÃO DE PATINHA*/
#form {
    gap: .5rem;

}


label {
    font-weight: bold;

}

input,
select,
textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #08b4ff;
    border: 2px solid royalblue;
}